<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <style>
      body {
        background-image: url('brain.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
    </style> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Export Data</title>
    <!-- <style>
      body {
        background-image: 'brain.jpg';
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;
      }
      </style> -->
    <!-- <style>
      img {
        width: 100%;
      }
      </style> -->
  </head>
  <body> 
  <p><h2>Export Data to XLS and PDF File</h2></p>
  <p><h4><a href="/export_orders">Export all orders</a></h4></p>
  <p><h4><a href="/view_pdf">View all PDF of orders</a></h4></p>
  <!-- <img src="brain.jpg" alt="Brain" width="128" height="128">

  <img src="brain.jpg" alt="Brain" style="width:128px;height:128px;"> -->
  </body>
</html>
